<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% if not is_paid %}
    Payment Deferred
    {% else %}
    Registration Complete
    {% endif %}
  </title>
</head>
<body>
  {% if not is_paid %}
  <p>{{ first}} {{ last }} your registration is pending for {{ course }}</p>
  <p>You have elected to pay using {{ payment }}. Your registration will be completed upon payment reception</p>
  {% else %}
  <p>{{ first}} {{ last }} your registration is complete for {{ course }}</p>
  <p>Check your email for a transaction receipt.</p>
  {% endif %}
  
</body>
</html>